[submodule "api/account"]
	path = api/account
	url = https://github.com/Insper-G-Nicacio/account-pms.git
[submodule "api/account-service"]
	path = api/account-service
	url = https://github.com/Insper-G-Nicacio/account-pms-service.git
